<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script type="text/javascript" src="{% static "js/game.js" %}"> </script>
</head>
{% load static %}
<body>
    <div class="widget">
      <h1>Widget Buttons</h1>
      <button>A button element</button>

      <input type="submit" value="A submit button">

      <a href="#">An anchor</a>
    </div>
        <h1>CSS Buttons</h1>
    <button class="ui-button ui-widget ui-corner-all">A button element</button>

    <input class="ui-button ui-widget ui-corner-all" type="submit" value="A submit button">

    <a class="ui-button ui-widget ui-corner-all" href="#">An anchor</a>
</body>
</html>