channels
channels-redis
channelsmultiplexer
colorama==0.3.9
decorator
django
editdistance
fakeredis
gunicorn
psycopg2
py==1.4.34
pytest==3.1.2
redis
requests
sqlalchemy
testing.postgresql
Unidecode==0.4.20