<!DOCTYPE html>
<html lang="en">
{% extends "trebekbot_app/base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script type="text/javascript" src="{% static "js/game.js" %}"> </script>
</head>
{% block content %}
    <div class="widget">
      <h1 class="questionTimer">test</h1>
      <div class="getting-started"> </div>
      <li>{{ question_json|json_script:"question_json" }}</li>
      <button id="answer">Answer</button>
      <button id="getQuestion">Get Question</button>
    </div>
{% endblock %}
</html>