<!DOCTYPE html>
<html lang="en">
{% extends "trebekbot_app/base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script type="text/javascript" src="{% static "js/game.js" %}"> </script>
</head>
{% block content %}
    <div class="widget">
      <h1 class="questionTimer">test</h1>
      <li>{{ question_json|json_script:"question_json" }}</li>
      <form action="#" method="get">
        <input type="text" name="givenAnswer" size="30"/>
        <input type="submit" class="btn" value="Answer" name="answerButton">
      </form>
      <button id="getQuestion">Get Question</button>
    </div>
    <div class="questionText"></div>
    <div class="validLinks"></div>
    <div class="questionValue"></div>
    <div class="questionCategory">Category: </div>
    <div class="questionDate">Air Date: </div>
    <div class="answer"></div>
{% endblock %}
</html>