<!DOCTYPE html>
<html lang="en">
{% include "game/base.html" %}

{% load static %}
<head>
    {% block js_scripts %}
        <script type="text/javascript" src="{% static 'game/js/jquery-3.5.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'game/js/js.cookie.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'game/js/play.js' %}"></script>
    {% endblock %}
</head>

<body>
    ACTIVE PLAYERS:
    <div class="players">
        {% for player in players %}
            <tr>
                {player.username}
            </tr>
        {% endfor %}
    </div>
</body>


{% block content %}
<!--    <div>{{ user }}</div>-->
    <div class="player" id="playerScore"> Score: {{ player_score }} </div>
    <div class="widget">
      <h1 class="questionTimer">test</h1>
      <li>{{ question_json|json_script:"question_json" }}</li>
      <button id="getQuestion">Get Question</button>
    </div>
    <div class="question" id="questionText"></div>
    <div class="question" id="validLinks"></div>
    <div class="question" id="questionValue"></div>
    <div class="question" id="questionCategory">Category: </div>
    <div class="question" id="questionDate">Air Date: </div>
    <div class="answer" id="questionAnswer"></div>

    <form method="post">
        {% csrf_token %}
        <div class="answer"></div>
        <input type="input" name="answer" id="givenAnswer">
        <button type="button" id="submitButton">Answer</button>
    </form>

    <div class="answer" id="answerResult"> Answer Result: </div>
{% endblock %}

</html>